[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "==1.12.1"
sphinx = "==1.8.3"
sphinx-rtd-theme = "==0.4.2"
ajsonrpc = {editable = true,path = "."}

[packages]

[requires]
python_version = "3.6"
